GerritTest/GerritTest/bin/Debug/GerritTest.exe.config
GerritTest/GerritTest/bin/Debug/GerritTest.vshost.exe
GerritTest/GerritTest/bin/Debug/GerritTest.vshost.exe.config
GerritTest/GerritTest/bin/Debug/GerritTest.vshost.exe.manifest
GerritTest/GerritTest/obj/*
