[project]
	description = Gerrit testing repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mareklinka
[access "refs/for/refs/*"]
	read = group user/mareklinka
	push = group user/mareklinka
	label-Code-Review = -2..+2 group user/mareklinka
	label-Verified = -1..+1 group user/mareklinka
	rebase = group user/mareklinka
	removeReviewer = group user/mareklinka
	submit = group user/mareklinka
[access "refs/heads/*"]
	read = group user/mareklinka
	create = group user/mareklinka
	push = +force group user/mareklinka
	pushMerge = group user/mareklinka
[access "refs/tags/*"]
	push = +force group user/mareklinka
	pushTag = group user/mareklinka
	pushSignedTag = group user/mareklinka
